extends ../layout

block style
    | body{ background: rgba(0,0,0,0); }

block content
    .info
        .image
            img
        .text
            .sub-title Hey
            .title Asim Shrestha