html
  head
    title Notification
    script(src="js/main.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="css/theme1.css")
  body
    .info
      .image
        img
      .text
        .title Asim Shrestha
        .sub-title Hey

    script 
      | document.addEventListener("DOMContentLoaded", function(){
      |    notification = document.querySelector(".info");
      |    data = !{ JSON.stringify(notificaitonInfos) };
      |    showNotification(#{uptime}, #{time});
      | });