html
  head
    title Notification
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href = css)
    style
      block style
  body
    block content
    
    script(src="/socket.io/socket.io.js")
    script(src="js/main.js")